.container{
     /* display:flex;  */
    /* justify-content: center;
    align-items: center; */
    height:205px;
    width:100vw;
    /* border:2px solid black */
}
.heading{
    display: inline-block;
}
#one{
    font-weight:300;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
#two{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     font-weight:lighter;
}
#i{
    width:21px;
    color:black;
    border-radius:10px;
    background-color: white;
    padding:8px;
     transition: all 0.5s ease-in-out 0s ;
}

#i:hover{
    transform: scale3d(1.085,1.085,1);


}
.body{
    /* overflow: hidden; */
    background-image: url("clouds.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}

.haze{
    background-image:url("haze.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;

}
.rain{
    background-image: url("image.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.overcast{
    
    background-image: url("cloud.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.clear{
    
    background-image: url("clear.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.mist{
    
    background-image: url("mist1.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height:100vh;
    overflow-x: hidden;
}
.drizzle{
    
    background-image: url("drizzle.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height:100vh;
    overflow-x: hidden;
}
.scattered{
    
    background-image: url("scattered.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height:100vh;
    overflow-x: hidden;
}
.broken{
    background-image: url("brokens.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height:100vh;
    overflow-x: hidden;
}
.few{
    background-image: url("few.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height:100vh;
    overflow-x: hidden;
}
 .overcast1{
    
    background-image: url("overcast1.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.rain1{
    
    background-image: url("rain1.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.clear1{
    
    background-image: url("clear2.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.haze1{
    
    background-image: url("haze1.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.scattered1{
    
    background-image: url("scattered1.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.mist1{
    
    background-image: url("mist2.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.drizzle1{
    
    background-image: url("drizzle1.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.broken1{
    
    background-image: url("image\ copy.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: top bottom;
    min-height:100vh;
    overflow-x: hidden;
}
.few1{
    
    background-image: url("few1.png");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height:100vh;
    overflow-x: hidden;
}


.minicontainer{
    display: flex;
    justify-content: center;
}
.minicontain{
    display: flex;
    justify-content: center;

}
.search{
    display: flex;
    justify-content: center;
    gap:15px;  
    background-color: white;
    width:448px;  
    border-radius: 25px;
    position:static;
}
#search{
    width:321px;
    outline: none;
    border:none;    
}
#icon{
    position:relative;
    top:10px;
}
#button{
    color:azure;
    background-color:cadetblue ;
    height:36px;
    cursor:pointer;
    border-radius: 10px;
    width:70px;
    transition: all 0.5s ease-in-out 0s ;
    border:1.93px solid black;
    outline: 1.93px solid whitesmoke;
}
#button:hover{
    transform: scale3d(1.085,1.085,1);
}
#div{
    display: flex;
    justify-content: center;
    cursor:pointer;
    gap:10px;

}
#secondbox{
    width:672px;
    padding:25px;
    height:300px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 3px 3px 1.5px 3.5px whitesmoke ;

    
}
#second{
    display: flex;
    justify-content: center;
    
}
#thirdbox{
    width:672px;
    height:445px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding:25px;


}
    
#third{
    display: flex;
    justify-content: center;
    
}
.all{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:35px;
}
#api{
    color:#FFFFFF
}
#cityname{
    display: flex;
    flex-direction: column;
    height:80px;
    /* justify-content: center; */
    position: relative;    
}
#rain{
    position: absolute;
    top:25px;
    color:rgb(125, 123, 123);

}
#now{
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cadetblue;
    width:35px;
    border-radius: 5px;
    align-self: flex-end;
    position:absolute;
    top:10px;
    padding: 5px;
    
}
#time{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight:700;
    display: flex;
    position:absolute;
    top:20px;
    left:275px;
    
}
#temperature{
    height:85px;
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    position: relative;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 15px;
    /* border:2px solid black; */
    
}
.same{
    position: absolute;
    right:10px;
    top:0px; 
    color:rgb(125, 123, 123);

}
#same{
    position: absolute;
    right:10px;
    bottom:0px;
    margin:10px;
}
#fore{
    margin:0px 0px 38px 15px
}
#info{
    height: 45px;
    background-color: antiquewhite;
    margin-top: 25px;
    display:flex;
    align-items: center;
    gap:5px;
    justify-content: space-evenly;
    /* border-bottom: 1.87px solid #ddd; */
    border-radius:15px;
    /* border:2px solid black; */
    
}
#wind{
    display: flex;
    flex-direction: column;
    height:40px;
}
#wi{
    display: flex;
    align-items: center;
    gap:8px;
}
#firstday{
    display:flex;
    justify-content:space-evenly;
    border-bottom: 1px solid #ddd;
}
#sec{
    display:flex;
    justify-content: space-evenly;
    width:115px;
    height: 34px;
    
}
#first{
    display:flex;
    /* justify-content: center; */
    gap:25px;
    position: relative;
    width:520px;
}

.a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}
#c{
    display:flex;
    flex-direction: column;
    gap:35px;
}
.pa{
    color:rgb(125, 123, 123);
}
.color{
    color:rgb(125, 123, 123);

}
.div{
    color:rgb(121, 120, 120);
    font-family: sans-serif;

    
}
.new{
    height: 180px;
    width:380px;
    border: 1.85px solid white;
    position:absolute;
    z-index: 3;
    left:380px;
}
.d{
    display:flex;
    justify-content:center;
    align-items: center;
    background-image: url("broken.png");
    gap:35px;
    border-radius: 15px;
    position: absolute;
    /* top:187px; */
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: hem 1.8s ease-in 1s 0.5 forwards;
}
@keyframes hem{
    0%{
        top:0px;

    }
    100%{
        top:587px;
    }

}
.x{
    height:35px;
    border-radius: 10px;
    border:1.87px solid wheat;
}
.y{
    width:55px;
    height:35px;
    border-radius: 10px;
    cursor:pointer;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 0.5s ease-in-out 0s ;
}
.y:hover{
    transform: scale3d(1.085,1.085,1);

}
.bodys{
    filter: brightness(30%);
}
.loader{
    border-radius:50%;
    width:38px;
    height: 38px;
    border: 8px solid whitesmoke;
    position:absolute;
    border-top:8px solid black;
    left:575px;
    top:310px;
    z-index: 9999;
    animation:spin 1s ease-in 0s infinite
}
.loaders{
    position: absolute;
    left:575px;
    top:368px;
    z-index:9999;
}
@keyframes spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}